<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Name Counter API</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="jumbotron mb-4">
      <h1>Name Counter API</h1>
      <pre><code>GET /name-counter/:name</code></pre>
      <p>Returns count of how many times a given name appears in the text of Oliver Twist. Note that the matches are case-sensitive.</p>
      <p>See code at <a href="https://github.com/sauntimo/name-counter-api">github.com/sauntimo/name-counter-api</a>.
      </p>
    </div>

    <form>
      <div class="form-row mb-4">
        <div class="col-md-8">
          <input
            type="text"
            class="form-control"
            id="inlineFormInput"
            placeholder="Oliver"
            value="Oliver"
          >
        </div>
        <div class="col-md-4 pt-2 pt-md-0">
          <button id="makeRequest" class="btn btn-primary btn-block">Count</button>
        </div>
      </div>
    </form>

  </div>

</body>
<script src="scripts/index.js"></script>

</html>